<section>
    <h2>Forgot Password</h2>
    @if (Step===1) {
        <form [formGroup]="verifiyemail" class="bg-main-light rounded-4 my-3 p-3 shadow" (ngSubmit)="verfiyEmailSubmit()">
            <div class="my-2" >
             <label for="email">email</label>
             <input formControlName="email" type="email" id="email" class="form-control">
            </div>
            <button [disabled]="verifiyemail.invalid || isloading" class="btn-main" >Verfiy Email

                @if (isloading) {
                    <span><i class="fas fa-spin fa-spinner" ></i></span>
                }
            </button>
            
         </form>
    }
    @else if (Step === 2) {

        <form [formGroup]="verifiyCode" class="bg-main-light rounded-4 my-3 p-3 shadow" (ngSubmit)="verfiyCodeSubmit()" >
            <div class="my-2" >
             <label for="Code">Code</label>
             <input  formControlName="resetCode" type="text" id="Code" class="form-control">
            </div>
            <button [disabled]="verifiyCode.invalid || isloading " class="btn-main" >Verfiy Code

                @if (isloading) {
                    <span><i class="fas fa-spin fa-spinner" ></i></span>
                }
            </button>
            
         </form>
    }
    @else if (Step === 3 ) {

        <form [formGroup]="ResetPassword" class="bg-main-light rounded-4 my-3 p-3 shadow" (ngSubmit)="ResetpasswordSubmit()" >
            <div class="my-2" >
             <label for="email">email</label>
             <input formControlName="email" type="email" id="email" class="form-control">
            </div>
            <div class="my-2" >
                <label for="password">password</label>
                <input formControlName="newPassword" type="password" id="password" class="form-control">
               </div>
            <button [disabled]="ResetPassword.invalid || isloading " class="btn-main" >Rest Passowrd

                @if (isloading) {
                    <span><i class="fas fa-spin fa-spinner" ></i></span>
                }
            </button>


            @if (msgError) {
                <p  class="alert alert-danger w-50 m-0" >{{msgError}}</p>
             }
         
         </form>
    }
</section>