<div >
  <img src="../../../assets/images/12085707_20944201.svg" class="img w-50" alt="" srcset="">
    <section  class="bg-main-light p-2 m-2 shadow rounded-4 my-5" >

        <h1 class="h2 text-main" >Register Now:</h1>
        <form [formGroup]="registerform" (ngSubmit)="registerSubmit()" >
            <div class="my-2">
                <label for="name">Name</label>
                <input  type="text" id="name" class="form-control" formControlName="name"  >

               @if (registerform.get('name')?.errors && registerform.get('name')?.touched) {
                <div class="alert alert-danger w-50" >
                   @if (registerform.get('name')?.getError('required')) {
                    <p class="m-0" >Name Is Required</p>
                   }
                   @else if (registerform.get('name')?.getError('minlength')) {
                    <p class="m-0" >Name Should be more than or equal 3 chars</p>
                   }
                   @else if (registerform.get('name')?.getError('maxlength')) {
                    <p class="m-0" >Name Should be less than or equal 20 chars</p>
                   }

                </div>
               }

            </div>
            <div class="my-2">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" formControlName="email" >

                @if (registerform.get('email')?.errors && registerform.get('email')?.touched) {
                    <div class="alert alert-danger w-50">
                     @if (registerform.get('email')?.getError('required')) {
                        <p class="m-0" >Email Is Required</p>
                     }
                     @else if (registerform.get('email')?.getError('email')) {
                        <p class="m-0" >Enter Valid Email</p>
                     }

                    </div>
                }

            </div>
            <div class="my-2">
                <label for="phone">Phone</label>
                <input type="tel" id="phone" class="form-control" formControlName="phone">
                @if (registerform.get('phone')?.errors && registerform.get('phone')?.touched) {
                    <div class="alert alert-danger w-50">
                     @if (registerform.get('phone')?.getError('required')) {
                        <p class="m-0" >phone Is Required</p>
                     }
                     @else if (registerform.get('phone')?.getError('pattern')) {
                        <p class="m-0" >Enter Valid phone</p>
                     }

                    </div>
                }

            </div>
            <div class="my-2">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password">


                @if (registerform.get('password')?.errors && registerform.get('password')?.touched) {
                    <div class="alert alert-danger w-50">
                     @if (registerform.get('password')?.getError('required')) {
                        <p class="m-0" >password Is Required</p>
                     }
                     @else if (registerform.get('password')?.getError('pattern')) {
                        <p class="m-0" >Enter Valid password</p>
                     }

                    </div>
                }

            </div>
            <div class="my-2">
                <label for="rePassword">RePassword</label>
                <input type="password" id="rePassword" class="form-control" formControlName="rePassword">

                @if (registerform.getError('mismatch') && registerform.get('rePassword')?.touched) {
                 <p class="alert alert-danger w-50 m-0">Password confirmation is incorrect</p>
                }

            </div>
            <button   class="btn-main ms-auto d-block">Register

            @if (isloading) {
                <span><i class="fas fa-spin fa-spinner" ></i></span>
            }

            </button>
             @if (msgError) {
                <p  class="alert alert-danger w-50 m-0" >{{msgError}}</p>
             }
        </form>
    </section>
</div>


