 <section class="bg-main-light rounded-4 shadow w-75 mx-auto p-2 my-2" > 
<h1 class="text-center" >shippingAddress</h1>
 <form [formGroup]="orders" (ngSubmit)="orderSubmit()" >

    <div class="my-2" >
        <label for="details">Details</label>
         <textarea  id="details" class="form-control" formControlName="details" ></textarea>
    </div>

    <div class="my-2" >
        <label for="phone">Phone</label>
         <input type="tel" class="form-control" formControlName="phone" id="phone">
    </div>
    <div class="my-2" >
        <label for="city">City</label>
         <input type="text" class="form-control" formControlName="city" id="city">
    </div>

    <button class="btn-main " type="submit" >Check Out</button>


 </form>
 </section>
