<section class="bg-main-light rounded-4 shadow p-4 my-5 w-75 mx-auto "  >

        <h1 class="h2 py-3 text-center" >All Orders</h1>
         @for (order of AllOrdersList(); track $index) {

            <div class="border p-5 mb-3 ">
               @for (item of order.cartItems ; track $index) {

                <div class="row border-bottom align-items-center py-4 "  >
                    <div class="col-md-1">
                        <div>
                            <img [src]="item.product.imageCover" class="w-100" alt="">
                        </div>
    
                    </div>
                    <div class="col-md-11">
                        <div class="d-flex justify-content-center align-items-center" >
                         <div>
                            <h3 class="h6 text-main small " > title: {{item.product.title}}</h3>
                            <p class="text-uppercase mb-0" > count: {{item.count}}</p>
                            <p class="text-uppercase mb-0" > price: {{item.price}}</p>
                         </div>
                          <div class="py-3 order-details   mt-4 w-50 mx-auto "  >
                            <p class="text-capitalize mb-0 p-1 small " >
                                is delivered: 
                                <span>{{order.isDelivered}}</span>

                            </p>
                            <p class="text-capitalize mb-0 p-1 small " >
                                is paied: 
                                <span>{{order.isPaid}}</span>
                                
                            </p>
                            <p class="text-capitalize mb-0 p-1 small " >
                                payment type method:
                                <span>{{order.paymentMethodType}}</span>
                                
                            </p>

                          </div>
                        </div>
                    </div>
                </div>
               }
              </div>
         }
     
  

   
</section>

