<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="login" >
        <img src="./assets/images/freshcart-logo.svg" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">


        <ul class="navbar-nav ms-auto ">

          <li class="nav-item d-flex gap-3 me-3 ">
            <a target="_blank" href="https://www.instagram.com/sayeed_mohamed.1/"><i class="fab fa-instagram  "></i></a>
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100036507706960"><i class="fab fa-facebook  "></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/sayed-mohamed-81b66b290/"><i
                class="fab fa-linkedin"></i></a>
            <a target="_blank" href="https://api.whatsapp.com/send?phone=01150778216" class="text-reset"><i
                class="fa-brands fa-whatsapp"></i></a>
          </li>

              <li class="nav-item">
                <a class="nav-link fit-content"  routerLink="login" routerLinkActive="active-link" >
                  login
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link fit-content"  routerLink="register" routerLinkActive="active-link">
                  register
                </a>
              </li>


        </ul>
      </div>
    </div>
  </nav>
